.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.parimg1 {
    background-image: url("img/parimg1.jpg");
    min-height: 600px;
    height: 100vh;
}

.parimg2 {
    background-image: url("img/parimg2.jpg");
    min-height: 30rem;
    height: 30rem;
}
