$c-text: #eee;
$c-grey: #333;
$c-shadow: #00000077;
$c-black: #000;
$c-bg: #222;
$c-link: #8860e7;
$c-linkhov: #b195fa;
$c-glow: #8BD7A8;
$c-glow2: #587965;
$c-tag: #B7EDCF;
$c-tag2: #55d38e;

$z-body: 0;
$z-back-to-top: 5;
$z-header: 5;
$z-nav: 10;