@use 'v';
@use 'parallax';
@use 'triangle';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.panel-grad {
    background-color: v.$c-bg;
    min-height: 20rem;
    background: radial-gradient(at center, #231437, #162520);
}

.jumbotron {
    margin: 0;
}

a {
    color: v.$c-link;
    text-shadow: 1px 2px 5px v.$c-link;
    text-decoration: none;
    &:hover {
        color: v.$c-linkhov;
        text-shadow: 1px 2px 5px v.$c-linkhov;
    }
}

header {
    a {
        color: v.$c-text;
        text-shadow: 1px 2px 8px v.$c-text;
    }
}

.navbar {
    z-index: 10;
}

.navbar-dark .navbar-toggler {
    background-color: v.$c-shadow;
}

.navbar-collapse {
    background-color: #111;
    padding: 2rem;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100vw;
    white-space: nowrap;
    z-index: 10;
    text-align: center;
    font-size: 2rem;
}

.nav-link {
    color: v.$c-text !important;
    text-shadow: 1px 2px 5px v.$c-text !important;

    &.active {
        color: v.$c-link !important;
        text-shadow: 1px 2px 5px v.$c-link !important;
    }

    &:hover {
        color: v.$c-linkhov !important;
        text-shadow: 1px 2px 5px v.$c-linkhov !important;
    }
}

header {
    display: flex;
    justify-content: center;
}

footer {
    padding: 2.5rem 0;
    text-align: center;
    color: v.$c-text;
    background-color: v.$c-black;
    border-top: 0.05rem solid #111;
}

.par-bg {
    background-color: v.$c-shadow;
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
}

.blur {
    backdrop-filter: blur(2px);
}

p,
h1,
h2 {
    color: v.$c-text;
    text-align: center;
    width: 100%;
    text-shadow: 1px 2px 2px v.$c-shadow;
}

.par-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    margin-top: -4rem;

    p,
    h1 {
        padding: 1rem;
    }
}

.skills-border {
    border: 2px solid v.$c-grey;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.skill-set {
    color: v.$c-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        width: 8rem;
        text-shadow: 1px 2px 2px v.$c-shadow;
    }
}

.back-to-top {
    position: fixed;
    background-color: v.$c-shadow;
    min-width: 4rem;
    min-height: 4rem;
    width: 4rem;
    height: 4rem;
    right: 1rem;
    bottom: 1rem;
    z-index: v.$z-back-to-top;

    a {
        position: absolute;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            width: 2rem;
            height: 2rem;
            top: 40%;
            display: block;
            border-top: 0.3rem solid v.$c-link;
            border-left: 0.3rem solid v.$c-link;
            left: 1rem;
            transform: rotate(45deg);
        }

        &:hover{
            &::before {
                border-top-color: v.$c-linkhov;
                border-left-color: v.$c-linkhov;
            }
        }
    }
}


.textured-text {
    color: #fff; // fallback?
    font-weight: 900;
    background: url("img/textured-text.jpg") repeat-x center center;
    //background-size: cover;
    -webkit-text-fill-color: transparent; // remove text fill
    //-webkit-text-stroke: 1px v.$c-text; // text border

    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
}

.socials{

    a{
        position:relative;
        padding: 1rem;
        text-shadow: none;
        z-index: 1;
        transition: text-shadow 0.5s ease-in;
        &:hover{
            text-shadow: 0px 0px 8px v.$c-linkhov;

            &::before{

                height: 8.1rem;
            }
        }


        &::before{
            content: "";
            position: absolute;
            background-color: v.$c-black;  
            
            width: 8rem;
            height: 2rem; 
            left: -1rem;
            top: -4.1rem;
            z-index: -1;

            transition: height 2s;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0, 1);
            
        }

    }

}

.socials-bg{
    overflow:hidden;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}


