@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.parallax {
  min-height: 600px;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.parimg1 {
  background-image: url("img/parimg1.jpg");
}

.parimg2 {
  background-image: url("img/parimg2.jpg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.panel-grad {
  background-color: #222;
  min-height: 20rem;
  background: radial-gradient(at center, #231437, #162520);
}

.jumbotron {
  margin: 0;
}

a {
  color: #8860e7;
  text-shadow: 1px 2px 5px #8860e7;
  text-decoration: none;
}
a:hover {
  color: #b195fa;
  text-shadow: 1px 2px 5px #b195fa;
}

header a {
  color: #eee;
  text-shadow: 1px 2px 8px #eee;
}

.navbar {
  z-index: 10;
}

.navbar-dark .navbar-toggler {
  background-color: #00000077;
}

.navbar-collapse {
  background-color: #111;
  padding: 2rem;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100vw;
  white-space: nowrap;
  z-index: 10;
  text-align: center;
  font-size: 2rem;
}

.nav-link {
  color: #eee !important;
  text-shadow: 1px 2px 5px #eee !important;
}
.nav-link.active {
  color: #8860e7 !important;
  text-shadow: 1px 2px 5px #8860e7 !important;
}
.nav-link:hover {
  color: #b195fa !important;
  text-shadow: 1px 2px 5px #b195fa !important;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  padding: 2.5rem 0;
  text-align: center;
  color: #eee;
  background-color: #000;
  border-top: 0.05rem solid #111;
}

.par-bg {
  background-color: #00000077;
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.blur {
  backdrop-filter: blur(2px);
}

p,
h1,
h2 {
  color: #eee;
  text-align: center;
  width: 100%;
  text-shadow: 1px 2px 2px #00000077;
}

.par-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  margin-top: -4rem;
}
.par-center p,
.par-center h1 {
  padding: 1rem;
}

.skills-border {
  border: 2px solid #888;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skill-set {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-set li {
  width: 8rem;
  text-shadow: 1px 2px 2px #00000077;
}

.back-to-top {
  position: fixed;
  background-color: #00000077;
  min-width: 4rem;
  min-height: 4rem;
  width: 4rem;
  height: 4rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;
}
.back-to-top a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.back-to-top a::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 40%;
  display: block;
  border-top: 0.3rem solid #8860e7;
  border-left: 0.3rem solid #8860e7;
  left: 1rem;
  transform: rotate(45deg);
}
.back-to-top a:hover::before {
  border-top-color: #b195fa;
  border-left-color: #b195fa;
}

.textured-text {
  color: #fff;
  font-weight: 900;
  background: url("img/textured-text.jpg") repeat-x center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.socials a {
  padding: 1rem;
  text-shadow: none;
  transition: text-shadow 0.5s ease;
}
.socials a:hover {
  text-shadow: 0px 0px 8px #b195fa;
}