@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
.glow {
  color: #8BD7A8;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 0.25rem #B7EDCF, 0 0 0.5rem #B7EDCF, 0 0 0.75rem #8BD7A8, 0 0 1rem #8BD7A8;
  }
  to {
    text-shadow: 0 0 0.5rem #55d38e, 0 0 0.75rem #587965, 0 0 1rem #587965, 0 0 1.25rem #587965;
  }
}
.parallax-img1 {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-image: url("img/parimg1.jpg");
  min-height: 600px;
  height: 100vh;
  z-index: -10;
}

.ghost {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("img/parimg1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 600px;
  z-index: -9;
}

.ghost1 {
  opacity: 0.3;
}

.ghost2 {
  opacity: 0.2;
}

.parallax-img2 {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("img/parimg2.jpg");
  min-height: 30rem;
  height: 30rem;
  z-index: -8;
}

.fixed-width {
  position: relative;
  min-width: 1000px;
  max-width: 3000px;
  min-height: 28rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  perspective: 800px;
}

@media (max-width: 1000px) {
  .fixed-width {
    margin-left: calc((100% - 1000px)*(0.5));
    margin-right: calc((100% - 1000px)*(0.5));
  }
}
h6 {
  position: absolute;
  color: #B7EDCF;
  font-family: "Exo 2", sans-serif !important;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
}
h6:hover {
  opacity: 0;
}

.near {
  font-size: 3.5rem;
}
.near:nth-of-type(1) {
  left: 17%;
  /*top:15%;*/
}
.near:nth-of-type(2) {
  left: 50%;
  /*top:50%;*/
}
.near:nth-of-type(3) {
  left: 71%;
  /*top:27%;*/
}
.near:nth-of-type(4) {
  left: 80%;
  /*top:70%;*/
}

.mid {
  font-size: 2.2rem;
}
.mid:nth-of-type(5) {
  left: 28%;
  /*top:60%;*/
}
.mid:nth-of-type(6) {
  left: 50%;
  /*top:23%;*/
}

.far {
  font-size: 1.3rem;
}
.far:nth-of-type(7) {
  left: 10%;
  /*top:40%;*/
}
.far:nth-of-type(8) {
  left: 35%;
  /*top:48%;*/
}
.far:nth-of-type(9) {
  left: 70%;
  /*top:58%;*/
}

.furthest {
  font-size: 0.8rem;
}
.furthest:nth-of-type(10) {
  left: 26%;
  /*top:52%;*/
}
.furthest:nth-of-type(11) {
  left: 44%;
  /*top:35%;*/
}
.furthest:nth-of-type(12) {
  left: 48%;
  /*top:48%;*/
}
.furthest:nth-of-type(13) {
  left: 62%;
  /*top:50%;*/
}
.furthest:nth-of-type(14) {
  left: 65%;
  /*top:75%;*/
}
.furthest:nth-of-type(15) {
  left: 80%;
  /*top:47%;*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  z-index: 0;
}

.panel-grad {
  background-color: #222;
  min-height: 20rem;
  background: radial-gradient(at center, #231437, #162520);
}

a {
  color: #8860e7;
  text-shadow: 1px 2px 5px #8860e7;
  text-decoration: none;
}
a:hover {
  color: #b195fa;
  text-shadow: 1px 2px 5px #b195fa;
}

header {
  display: flex;
  justify-content: center;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
header a {
  color: #eee;
  text-shadow: 1px 2px 8px #eee;
}

.navbar {
  z-index: 10;
}

.navbar-dark .navbar-toggler {
  background-color: #00000077;
}

.navbar-collapse {
  background-color: #111;
  padding: 2rem;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100vw;
  white-space: nowrap;
  z-index: 10;
  text-align: center;
  font-size: 2rem;
}

.nav-link {
  color: #eee !important;
  text-shadow: 1px 2px 5px #eee !important;
}
.nav-link.active {
  color: #8860e7 !important;
  text-shadow: 1px 2px 5px #8860e7 !important;
}
.nav-link:hover {
  color: #b195fa !important;
  text-shadow: 1px 2px 5px #b195fa !important;
}

footer {
  padding: 2.5rem 0;
  text-align: center;
  color: #eee;
  background-color: #000;
  border-top: 0.05rem solid #111;
}

.par-bg {
  background-color: #00000077;
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.blur {
  backdrop-filter: blur(2px);
}

p,
h1,
h2 {
  color: #eee;
  text-align: center;
  width: 100%;
  text-shadow: 1px 2px 2px #00000077;
}

.par-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  margin-top: -4rem;
}
.par-center p,
.par-center h1 {
  padding: 1rem;
}

.move-in-1 {
  position: relative;
  left: -100vw;
  animation-name: move-in;
  animation-duration: 2s;
  animation-delay: 0;
  animation-timing-function: cubic-bezier(0, 0, 0.6, -0.3);
  animation-iteration-count: unset;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.move-in-2 {
  position: relative;
  left: -100vw;
  animation-name: move-in;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-timing-function: cubic-bezier(1, 0, -1, 0);
  animation-iteration-count: initial;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes move-in {
  from {
    left: -100vw;
  }
  to {
    left: 0vw;
  }
}
.skills-border {
  border: 2px solid #333;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skill-set {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-set li {
  width: 8rem;
  text-shadow: 1px 2px 2px #00000077;
}

.back-to-top {
  position: fixed;
  background-color: #00000077;
  min-width: 4rem;
  min-height: 4rem;
  width: 4rem;
  height: 4rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;
}
.back-to-top a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.back-to-top a::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 40%;
  display: block;
  border-top: 0.3rem solid #8860e7;
  border-left: 0.3rem solid #8860e7;
  left: 1rem;
  transform: rotate(45deg);
}
.back-to-top a:hover::before {
  border-top-color: #b195fa;
  border-left-color: #b195fa;
}

.textured-text {
  color: #fff;
  font-weight: 900;
  background: url("img/textured-text.jpg") repeat-x center center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.socials a {
  position: relative;
  padding: 1rem;
  text-shadow: none;
  z-index: 1;
  transition: text-shadow 0.5s ease-in;
}
.socials a:hover {
  text-shadow: 0px 0px 8px #b195fa;
}
.socials a:hover::before {
  height: 8.1rem;
}
.socials a::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 8rem;
  height: 2rem;
  left: -1rem;
  top: -4.1rem;
  z-index: -1;
  transition: height 2s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0, 1);
}

.socials-bg {
  overflow: hidden;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}